/app/.svelte-kit
/app/node_modules

downloads/Feel-Good Classic Rock/album.nfo
downloads/Feel-Good Classic Rock/playlist.m3u
beatbump.db
beatbump.db-shm
beatbump.db-wal
beatbump-server.exe
beatbump.exe
__debug_bin.exe3507754116
downloads/Ongoing Listening/album.nfo
downloads/Ongoing Listening/playlist.m3u
__debug_bin.exe1587729887
